<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 可以扫描controller、service。。。 这里扫描controller，绑定controller包 -->
	 	<context:component-scan base-package="controller"></context:component-scan>
	<!--使用mvc:annotation-driven代替注解映射器和适配器 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 视图解析器 解析jsp默认使用Jstl标签，classpath下必须有jstl.jar 下面配置url的前缀prefix后缀suffix -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 自定义参数绑定 -->
	<!-- <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="controller.converter.CustomDateConverter"></bean>
			</list>
		</property>
	</bean> -->
	
	<!-- 全局异常处理器 -->
	<!-- <bean class="exception.CustomExceptionResolver"/> -->
	
	<!-- 文件上传 -->
<!-- 	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		设置文件最大尺寸为1M
		<property name="maxUploadSize">
			<value>1048576</value>
		</property>
	</bean> -->
	

</beans>